
@model IEnumerable<Rns_092.Models.patientdb>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-stripped">
    <tr>
        <th>@Html.DisplayNameFor(x => x.name) </th>
        <th>@Html.DisplayNameFor(x => x.temp) </th>
        <th>@Html.DisplayNameFor(x => x.allergies) </th>
    </tr>s
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x => item.name)</td>
            <td>@Html.DisplayFor(x => item.temp)</td>
            <td>@Html.DisplayFor(x => item.allergies)</td>
        </tr>
    }


 

</table>